body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.custom-image {
    width: 120px; /* Adjust as needed */
    height: 250px; /* Automatically adjust height based on the width */
    border-radius: 1px; /* Optionally add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optionally add a shadow */
}


#container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
