body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.responsive-image {
    max-width: 100%; /* The image will not exceed its original size */
    height: auto; /* Automatically adjust height based on the width */
    display: block; /* Remove extra space under the image */
    margin: auto; /* Center the image */
}
#container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
