body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.custom-image {
    width: 130px; /* Adjust as needed */
    height: 260px; /* Automatically adjust height based on the width */
    border-radius: 5px; /* Optionally add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optionally add a shadow */
}


#container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#container {
    margin-top: 20px; /* Adjust the value as needed */
}

#container {
    text-align: center;
}

#container img {
    max-width: 100%; /* Make the image responsive within its container */
}

#container h1 {
    font-size: 16px; /* Adjust the font size as needed */
    margin-top: 10px; /* Add margin between the image and the heading */
}

#container button {
    margin-top: 10px; /* Add margin between the heading and the button */
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
